body {
    background-color: #000;
}

@media (min-width: 768px) and (max-width: 979px) {
    body {
        background-color: darkred;
    }
}

@media (max-width: 767px) {
    body {
        background-color: darkblue;
    }
}

@media (max-width: 480px) {
    body {
        background-color: purple;
    }
}