.dropdown {
    display: none; 
}

@media (max-width: 980px) {
    .dropdown {
        display: block;
        background-color: rgb(154, 255, 250);
    }
    .dropdown a{
        text-decoration: none;
        color: rgb(87, 134, 214);
        line-height: 30px;
    }

    .dropdown i{
        font-size: 20px;
    }
    .dropdown .dropdown-content{
        display: none;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown li {
     list-style: none; 
    }
}